* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("bg-palm.jpg");
}
.box {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 20px;
  width: 650px;
  height: 950px;
  display: block;
}
.logo {
  padding: 60px auto;
  margin: 35px;
  text-align: center;
}
.name {
  font-size: 60px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
.link1 {
  font-size: 50px;
  border: 2px solid antiquewhite;
  background-color: antiquewhite;
  width: 600px;
  margin: 20px;
  border-radius: 30px;
  text-align: center;
}
.link2 {
  font-size: 50px;
  border: 2px solid antiquewhite;
  background-color: antiquewhite;
  width: 600px;
  margin: 20px;
  border-radius: 30px;
  text-align: center;
}
.link3 {
  font-size: 50px;
  border: 2px solid antiquewhite;
  background-color: antiquewhite;
  width: 600px;
  margin: 20px;
  border-radius: 30px;
  text-align: center;
}
.link4 {
  font-size: 50px;
  border: 2px solid antiquewhite;
  background-color: antiquewhite;
  width: 600px;
  margin: 20px;
  border-radius: 30px;
  text-align: center;
}
.link5 {
  font-size: 50px;
  border: 2px solid antiquewhite;
  background-color: antiquewhite;
  width: 600px;
  margin: 20px;
  border-radius: 30px;
  text-align: center;
}

.verificacion {
  float: left;
}

footer {
  display: flex;
  width: 450px;
  height: 65px;
  margin-top: 200px;
  flex-wrap: wrap;
  row-gap: 70px;
  justify-content: center;
  margin-left: 100px;
}

.img {
  padding: 10px 30px;
}
